* {
  box-sizing: border-box;
}
html, body {
  height:100%;
}
#wrap {
  min-height: 100%;
   position: relative;
    width:auto;
    margin:0;
    padding:0;
    background-image: url(/Users/sarahmiller/development/project/images/blackboard.001.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}


main {
  overflow:auto;
  /*margin: 0 auto;*/
  /*border: 2px solid #333;*/
  padding: 10px;
  padding-bottom:150px;
  /*background-image: url(/Users/sarahmiller/development/project/images/blackboard.001.jpeg);
  background-size: cover;
  background-repeat: no-repeat;*/
}

header{
  padding:10px;
  margin-top: 0px;
  background-color: rgba(0, 61, 102, 0.5);
  /*make this a gradient*/
  padding: 20px;
  font-size: 12px;
  color: #fff;
  text-align :center;
}

header, h1 {
  text-align:left;
  font-family: 'Bungee Shade', cursive;
  color: white;
  font-size: 40px;

}

section button {
  margin:30px;
}
div {
  position:absolute;
  margin-left: 45%;
  margin-right: 10px;
  /*height:500px;*/
  border: 2px solid grey;
  /*margin-top: 100px;*/
}
img {
  position:absolute;
  width:500px;
  height:500px;
  border: 2px solid white;
}

p {
  position:absolute;
  /*margin-top: 10%;
  margin-left: 20px;*/
  /*border: 2px solid grey;*/
  padding:20px;
  width:500px;
  height: 75px;
  font-family: 'Bungee', cursive;
  text-align: center;
  font-size:40px;
  color:white;
}
.incorrect {
  margin-top:30%;
  /*margin-left:20px;*/
  width:450px;
}

form {
  position:absolute;
  margin-top: 15%;
  /*margin-left: 20px;*/
  width:450px;
  height:75px;
  /*border:2px solid grey;*/
  padding:20px
}
textarea {
  width: 400px;
  padding:20px;
  background-color: rgba(128,128,128,0.2);
  color:white;
  font-family: 'Bungee', cursive;
  font-size: 20px;
}
textarea:hover {
  background-color: rgba(128, 0, 42,0.5);
}
button {
  padding:15px;
  background-color: rgba(0, 61, 102, 0.5);
  border: 1px solid white;
  color:white;
  text-decoration:none;
  font-family: 'Bungee', cursive;
  font-size: 20px;
  font-weight: bold;
}
button:hover {
  background-color: rgb(128, 0, 42);
}
footer {
  position:relative;
  clear:both;
  margin-top: -60px;
  width:100%;
  height:60px;
  background-color: rgba(0, 61, 102, 0.5);
  padding: 5px;
  font-size: 18px;
  font-family: 'Bungee Shade', cursive;
  color: #fff;
  text-align :center;

}

a {
  color: #fff;
  text-decoration: none;

}
h2 {
  font-size: 15px;
  text-transform: none;
}
